<h1>View Component</h1>
<!--<div *ngIf = "studentJournal$ | async; let student; " > {{student.find(student.map(student.))}} {{student.firstName}} {{student.lastName}} {{student.age}} {{student.group}}</div>-->
<div *ngIf = " studentJournal1$ | async; let st" > {{student.id}} {{student.firstName}} {{student.lastName}} {{student.age}} {{student.group}}</div>
<ul>
  <li *ngFor="let sj of studentJournal1$ | async">{{sj.firstName}}<div>{{sj.lastName}}</div> <div>{{sj.age}}</div>
    <div>{{sj.group}}</div>
  </li>
</ul>
